/* Styles CSS */

/*
font-family:'HelveticaNeueW01-Thin';
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-65Medi';
font-family:'BodoniSeventytwoITCW01- 731145';
*/

body {
    font-family:'HelveticaNeueW01-45Ligh', sans-serif;
    color: #414141;
    background: #fff;
}
#Container {
    width: 810px;
    margin: 0 auto;
    background: url(../images/gradient.png) repeat-x;
    overflow: hidden;
}
#Header h1 {
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    height: 48px;
    width: 42px;
    margin: 35px auto 18px auto;
}
.hdr-sub {
    font-family:'HelveticaNeueW01-65Medi', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 21px;
}
.hdr-main {
    font-size: 56px;
    font-family:'HelveticaNeueW01-Thin', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 5px;
    margin: 0;
}
sup {
    font-size: 10px;
    vertical-align: 6px;
}
.hdr-txt {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    line-height: 29px;
}
.pink {
    font-family:'HelveticaNeueW01-65Medi', sans-serif;
    background-color: #ef6eba;
    color: #fff;
    height: 30px;
    width: 147px;
    display: inline-block;
}
.prod {
    width: 165px;
    float: left;
    margin-right: 60px;
    text-align: center;
}
.prod h2 {
    font-size: 20px;
    font-family:'HelveticaNeueW01-65Medi', sans-serif;
    line-height: 24px;
    margin-top: 15px;
}
.prod span {
    font-size: 14px;
}
.last {
    margin-right: 0;
}
#ProductList {
    width: 640px;
    margin: 35px auto 40px auto;
    overflow: hidden;
}
.prod-txt {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    padding-bottom: 20px;
}
.divider {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.3);
    width: 474px;
    margin: 0 auto;
}
#Legal {
    font-size: 20px;
    line-height: 24px;
    width: 635px;
    margin: 47px auto 34px auto;
}
.legal-list li {
    background: url(../images/bullet.png) no-repeat 0 6px;
    padding-left: 17px;
    margin-bottom: 18px;
}
#DownloadCta {
    display: block;
    height: 65px;
    width: 491px;
    margin: 0 auto;
    background: #ae591d;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family:'BodoniSeventytwoITCW01- 731145';
    font-size: 30px;
    line-height: 65px;
    margin-bottom: 60px;
}
